* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

main{
    width: 100%;
    padding: 3rem 4rem;
}

.container-texto {
    display: block;
    width: 90%;
    padding: 2rem 2rem;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    
}

.meu-paragrafo {
    padding: 20px;
        
}

.meu-paragrafo:hover {
    cursor: pointer;
    color: rgb(71, 23, 71)
}

#minha-imagem {
    width:400px;
    height: auto;
    border-radius: 80%;
    margin-bottom: 30px;
}

.container-texto a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
}


.paragrafo-link {
  justify-content: space-between;
  padding-right: 10px;
}

